@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/login';
@import 'partials/button';
@import 'partials/instructions';
@import 'partials/noteForm';
// Main font: Raleway Dots or Pacifico
html {
	font-size: 62.5%;
}
body {
	font-family: $baseFont;
	font-size: 1.4rem;
	letter-spacing: 1.8px;
}

h1 {
	font-size: 4.8rem;
	font-family: $headerFont;
	color: $purpleColor;
}

h2, h3 {
	font-family: $headerFont;
	color: $blueColor;
}

h2 {
	@include secondaryHeader(2.6rem, $headerFont);
}

h3 {
	@include secondaryHeader(1.8rem, $baseFont);
}

header {
	margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: $purpleColor;
	text-decoration: none;
	letter-spacing: 1.3px;
}

.wrapper {
	max-width: 1180px;
	margin: 0 auto;
}

.loggedInHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.happiness {
		padding-bottom: 8px;
		border-bottom: 5px solid $blueColor;
	}
}

.loggedInHeader__nav {
	display: flex;
	flex-direction: column;
	img {
		width: 50px;
		border-radius: 50%;
	}
}

.userProfile {
	display: flex;
	flex-direction: column;
}

.userHeader, .userIcons {
	padding: 20px;
	margin: auto;
	width: 40%;
	text-align: center;
}

.userImage {
	width: 200px;
	border-radius: 50%;
}

.week {

}

.happyNotes {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.happyNote {
	border: 1px solid $blueColor;
	border-radius: 2px;
	box-shadow: 2px 2px 2px darken($purpleColor, 5);
	padding: 20px;
	margin: 10px;
	width: calc(33.3% - 20px);
	img {
		max-width: 100%;
	}
}

.optionsNav {
	text-align: center;
	display: flex;
	justify-content: center;
	a {
		margin: 20px;
	}
	i {
		font-size: 2.4rem;
	}
}




