@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/login';
@import 'partials/button';
@import 'partials/instructions';
@import 'partials/noteForm';
@import 'partials/home';
@import 'partials/opennotes';
// Main font: Raleway Dots or Pacifico
html {
	font-size: 62.5%;
}
body {
	font-family: $baseFont;
	font-size: 1.4rem;
	letter-spacing: 1.8px;
}

h1 {
	font-size: 4.8rem;
	font-family: $headerFont;
	color: $purpleColor;
}

h2, h3 {
	font-family: $headerFont;
	color: $blueColor;
}

h2 {
	@include secondaryHeader(2.6rem, $headerFont);
}

h3 {
	@include secondaryHeader(1.8rem, $baseFont);
}

header {
	margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: $purpleColor;
	text-decoration: none;
	letter-spacing: 1.3px;
}

.wrapper {
	max-width: 1180px;
	margin: 0 auto;
}






// /* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

// /* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h1 {
		font-size: calc(3.4rem + (4.8 - 3.4) * ((100vw - 481px) / (768 - 481)));
	}
}

// /* Landscape phones and down */
@media (max-width: 480px) {
	h1 {
		font-size: 3.2rem;
	}
}



