.instructions {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	margin: auto;
}

.instruction {
	text-align: center;
	width: 400px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	background: linear-gradient(to bottom, rgba($purpleColor, 0.4), rgba($purpleColor, 0.3), rgba($blueColor, 0.4), rgba($blueColor, 0.5));
	border-radius: 5px;
	color: black;
	h2 {
		text-shadow: 1px 1px 1px darken($purpleColor, 0.3);
	}
	h3 {
		color: $purpleColor;
	}
	button {
		@include buttonCustom($purpleColor, $baseFont);
		letter-spacing: 1.8px;
		width: 50%;
		outline: none;
		// @include buttonAfter();
	}
}