.instructions {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	margin: auto;
}

.getStarted {
	padding-bottom: 8px;
	border-bottom: 5px solid $blueColor;
}

.instruction {
	text-align: center;
	width: 400px;
	height: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	background: linear-gradient(to bottom, rgba($purpleColor, 1), rgba($purpleColor, 0.9), rgba($purpleColor, 0.8), rgba($purpleColor, 0.7));
	border-radius: 5px;
	color: white;
	h2, h3 {
		color: white;
		text-shadow: 1px 1px 1px darken($blueColor, 0.3);
	}
	img {
		max-width: 100%;
	}
	button {
		@include buttonCustom($blueColor, $baseFont);
		letter-spacing: 1.8px;
		width: 50%;
		outline: none;
		// @include buttonAfter();
	}
	i {
		font-size: 4rem;
		color: $blueColor;
		transition: all 0.5s;
		&:hover {
			cursor: pointer;
			color: white;
		}
	}
}