.loginHome {
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.loginHome__login {
	display: flex;
	flex-direction: column;
}

.loginHome__text {
	font-size: 1.6rem;
}

// /* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

// /* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

// /* Landscape phones and down */
@media (max-width: 480px) {
	.loginHome {
		padding: 10px;
	}
	.loginHome__text {
		font-size: 1.4rem;
	}
}